@media screen and (max-width:1140px){
    .header__wrap{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .services__cards{
        flex-direction: column;
    }
    .intsa__wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
}

@media screen and (max-width:650px){
    .header__wrap{
        flex-direction: column;
        gap: 10px;
    }
    .logo__header{
        flex-direction: column;
    }
}

@media screen and (max-width:540px){
    .banner__h{
        font-family: 'Old Standard TT';
        font-size: 100%;
        font-weight: 400;
        line-height: 80px;
        letter-spacing: 1px;
        text-align: center;
        color: #FFFFFF;
        margin: 15px 0 35px;
    }
    
    .banner__btn{
        font-family: 'Old Standard TT';
        font-size: 100%;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        color: #181511;
        background: #FFAE2B;
        border: 1px solid #FFAE2B;
        padding: 14px 24px;
    }
}